* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --items-bg-color: rgba(36, 129, 75, 0.8);
  --first-text-color: rgba(199, 247, 219, 0.8);
  --second-text-color: rgba(230, 230, 230, 0.8);
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Reem Kufi', 'Ruwudu', sans-serif;
  background: url('background/mosque1.jpg') center/cover no-repeat;
  transition: background-image 0.5s ease;
}

.container {
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 1;
  padding: 0 1rem;
  margin-top: auto;
}

.container::before {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

.prayer-times-container {
  position: relative;
  color: var(--first-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 2rem;
}

.prayer {
  background-color: var(--items-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
  width: 20rem;
  border-radius: 5rem;
  transition: 0.7s;
  animation: fadeInUp 0.5s ease-out;
  animation-fill-mode: both;
}

.prayer:hover {
  transform: scale(1.1);
  background-color: rgba(36, 129, 75, 0.9);
}

.prayer-time,
.prayer-name {
  font-size: 2rem;
}

.prayer-time {
  direction: rtl;
}

.prayer-icon {
  max-width: 4rem;
}

.Fajr-icon {
  animation: translateAnimation 4s linear infinite;
  animation-delay: 0.4s;
}

.Sunrise-icon {
  animation: sunriseAnimation 8s ease-out infinite;
  animation-delay: 0.6s;
  will-change: transform;
}

.Dhuhr-icon {
  animation: ScalingAnimation 6s alternate infinite;
  animation-delay: 0.8s;
}

.Asr-icon {
  animation: cloudySunAnimation 6s ease-in-out infinite;
  animation-delay: 1s;
}

.Maghrib-icon {
  animation: sunsetAnimation 8s ease-in infinite;
  animation-delay: 1.2s;
}

.Isha-icon {
  animation: translateAnimation 4s linear infinite;
  animation-delay: 1.4s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes sunriseAnimation {
  0%,
  100% {
    transform: translateY(10px) scale(0.5) rotate(0deg);
    opacity: 0;
  }
  80% {
    transform: translateY(0) scale(1) rotate(90deg);
    opacity: 1;
  }
  95% {
    transform: translateY(-5px) scale(1) rotate(90deg);
    opacity: 0.1;
  }
}

@keyframes ScalingAnimation {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes cloudySunAnimation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.4;
  }
  95% {
    opacity: 0.8;
  }
}

@keyframes sunsetAnimation {
  0%,
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  80% {
    transform: translateY(5px) scale(0.6);
    opacity: 0;
  }
  95% {
    opacity: 0.1;
  }
  98% {
    opacity: 0.5;
  }
}

.cityDate-container {
  font-family: 'Ruwudu', 'Reem Kufi', sans-serif;
  position: relative;
  left: -12rem;
  color: var(--second-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

#cityName {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 1rem;
}

#day {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
}

.date {
  direction: rtl;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  letter-spacing: 0.1rem;
}

.list {
  direction: rtl;
}

.countriesList {
  position: absolute;
  top: 2rem;
  right: 5rem;
}

.citiesList {
  position: absolute;
  top: 2rem;
  right: 30rem;
}

label {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--second-text-color);
  padding-bottom: 0.5rem;
  display: block;
  text-align: center;
}

#countryInput,
#cityInput {
  width: 20rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #cccccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 2.5rem;
  font-family: 'Reem Kufi', sans-serif;
  background: transparent;
  text-align: center;
  padding: 0.3rem;
}

.error-message {
  font-family: Amiri !important;
}

#spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.8rem solid rgba(255, 255, 255, 0.2);
  border-top: 0.8rem solid #bdc3c7;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 40%;
  padding: 1.2rem;
  color: white;
}

.footer-text {
  font-size: 2.2rem;
  font-family: 'Courgette', cursive, 'Charm', cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Amiri/Amiri-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Amiri/Amiri-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Amiri/Amiri-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Amiri';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Amiri/Amiri-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Courgette/Courgette-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  src: url('./fonts/Courgette/Courgette-Regular-48.ttf') format('truetype');
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-stretch: expanded;
  src: url('./fonts/Courgette/Courgette-Regular-36.ttf') format('truetype');
}

@font-face {
  font-family: 'Ruwudu';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Ruwudu/Ruwudu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Ruwudu';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Ruwudu/Ruwudu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Ruwudu';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Ruwudu/Ruwudu-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ruwudu';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Ruwudu/Ruwudu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Reem_Kufi/static/ReemKufi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Reem_Kufi/static/ReemKufi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Reem_Kufi/static/ReemKufi-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Reem_Kufi/static/ReemKufi-Bold.ttf') format('truetype');
}

@media (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }

  .cityDate-container {
    top: -2rem;
    left: -6rem;
  }

  label {
    display: inline-block;
    margin: 2rem;
  }

  .citiesList {
    top: 10rem;
    right: 4rem;
  }
}

@media (max-width: 992px) {
  .prayer-times-container {
    top: -10rem;
    left: 5rem;
  }

  .cityDate-container {
    top: -12rem;
    left: 5rem;
  }
}

@media (max-width: 768px) {
  .prayer-times-container {
    top: 0;
    left: 0;
  }

  .cityDate-container {
    top: -3rem;
    left: 0;
  }

  .footer {
    left: 0;
    padding-left: 2.6rem;
  }
}

@media (min-width: 540px) and (max-width: 575.98px) {
  html {
    font-size: 43.75%;
  }

  .prayer-times-container {
    top: -5rem;
    left: 2rem;
  }

  .cityDate-container {
    top: -6rem;
    left: 2rem;
  }
}

@media (max-width: 440px) {
  html {
    font-size: 43.75%;
  }

  .prayer-times-container {
    top: -8rem;
    left: -2rem;
  }

  .cityDate-container {
    top: -10rem;
    left: 2rem;
  }

  label {
    margin-right: -1rem;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 37.5%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 28%;
  }
}
